.footer {
    border-top: solid 2px;
    border-top-color: rgba(255, 255, 255, 0.239);
}
.footer ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-right: 30px;
  justify-content: flex-end;
  
}

.footer li {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
